@import "_variables.scss";
//px's are for monkeys, rem OR relative units, 1rem = 10px, vw = viewport width AND VH= viewport height
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; //1 rem === 10px
  font-family: 'Istok Web', sans-serif;
  text-align: center;
}
.header {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.3),
      rgba(color(primary-light), 0.3)
    ),
    url(img/jordan.png);
  background-size: cover;
  position: relative;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-primary {
  text-align: center;
  font-weight: 700;
  color: rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-primary-main {
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.header-primary-sub {
  font-size: 4rem;
  text-align: center;
}
