$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
  $primary-color-dark: #0097a7,
  $primary-color: #00bcd4,
  $primary-color-light: #b2ebf2,
  $primary-color-text: #ffffff,
  $accent-color: #ff5722,
  $primary-text-color: #212121,
  $secondary-text-color: #757575,
  $divider-color: #bdbdbd,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//px's are for monkeys, rem OR relative units, 1rem = 10px, vw = viewport width AND VH= viewport height
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.header {
  height: 100vh;
}
